<div
    class="block w-1/2 m-auto mt-14 rounded-lg bg-white p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
    <div class="lg:w-1/2 xs:w-full md:w-full m-auto  border-primary border-2  rounded-3xl hover:border-primary-400">
        <h1 class="text-primary  text-center pt-3 font-bold">{{formTitle}}</h1>
    </div>
    <form [formGroup]="packageForm" (ngSubmit)="addPackage()">
        <div class="p-3">
            <!--name input-->
            <div class="mb-8">
                <label for="packName" class="block font-semibold  mb-2 text-lg  text-gray-900 dark:text-white">Package
                    Name *</label>
                <input type="text" id="packName"
                    class="bg-gray-50 text-lg border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    formControlName="name" name="name" placeholder="Enter Package Name">
                <div [hidden]="name?.untouched||name?.valid">
                    <small class="text-red-600 text-base" *ngIf="name?.errors?.['required']">
                        Package Name Is Required
                    </small>
                </div>
            </div>
            <!--type input-->
            <div class="mb-8">
                <label for="packType" class="block font-semibold  mb-2 text-lg  text-gray-900 dark:text-white">Package
                    Type *</label>
                <select
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    name="packType" id="packType" formControlName="type">
                    <option value="Limited">Limited</option>
                    <option value="UnLimited">UnLimited</option>
                </select>
                <div [hidden]="type?.untouched||type?.valid">
                    <small class="text-red-600 text-base" *ngIf="type?.errors?.['required']">
                        Package Type Is Required
                    </small>
                </div>
            </div>
            <!--price input-->
            <div class="mb-8">
                <label for="price" class="block mb-2 font-semibold text-lg  text-gray-900 dark:text-white">price
                    *</label>
                <input type="number" formControlName="price" name="price" id="price"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Enter Package Price">
                <div [hidden]="price?.untouched||price?.valid" class="mb-5">
                    <small class="text-red-600 text-base" *ngIf="price?.errors?.['required']">Package price Is
                        Required</small>
                </div>
            </div>
            <!--purchasePrice input-->
            <div class="mb-8">
                <label for="purchasePrice"
                    class="block mb-2 font-semibold text-lg  text-gray-900 dark:text-white">purchasePrice
                    *</label>
                <input type="number" formControlName="purchasePrice" name="purchasePrice" id="purchasePrice"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Enter Package purchasePrice">
                <div [hidden]="purchasePrice?.untouched||purchasePrice?.valid" class="mb-5">
                    <small class="text-red-600 text-base" *ngIf="price?.errors?.['required']">Package purchasePrice Is
                        Required</small>
                </div>
            </div>
            <!--notes input-->
            <div class="mb-8">
                <label for="note" class="block font-semibold  mb-2 text-lg  text-gray-900 dark:text-white">Notes
                </label>
                <input type="text" id="packName"
                    class="bg-gray-50 text-lg border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    formControlName="note" name="note" placeholder="Enter Notes">
            </div>
            <!--provider input-->
            <div class="mb-8">
                <label for="providerId"
                    class="block font-semibold  mb-2 text-lg  text-gray-900 dark:text-white">Provider Name *</label>
                <select data-te-select-filter="true"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    name="providerId" id="providerId" formControlName="providerId">
                    <option *ngFor="let provider of providerList" value="{{provider.id}}">{{provider.name}}</option>
                </select>
                <div [hidden]="providerId?.untouched||providerId?.valid">
                    <small class="text-red-600 text-base" *ngIf="providerId?.errors?.['required']">
                        Provider Is Required
                    </small>
                </div>
            </div>
            <!--Submit button-->
            <!--Add button-->
            <button type="submit" *ngIf="UpdateOrDelete"
                class="inline-block rounded-2xl  bg-primary px-6 pb-2 pt-2.5 text-lg font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
                data-te-ripple-init data-te-ripple-color="light" [disabled]="packageForm.invalid"
                [ngClass]="{'bg-gray-400 opacity-50 hover:bg-gray-500':packageForm.invalid}"> Add
            </button>
            <!--update Button-->
            <button type="button" *ngIf="!UpdateOrDelete" class="submit-btn" data-te-ripple-init
                data-te-ripple-color="light" [disabled]="packageForm.invalid" (click)="updatePack()"
                [ngClass]="{'bg-gray-400 opacity-50 hover:bg-gray-500':packageForm.invalid}">Update
            </button>
            <button type="button" class="cancel-btn" data-te-ripple-init data-te-ripple-color="light"
                (click)="backToPackList()">Back
            </button>
        </div>
    </form>
</div>
