<ng-container *ngIf="isShown">
    <div *ngIf="type!=='checkbox';else checkbox" class="mb-2 w-full">
        <label [for]="id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{label}}</label>
        <input #In (change)="changeHandler(In)" [placeholder]="placeHolder" [formControl]="control"
             [type]="type" [id]="id"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <p class="text-red-600 text-base " *ngIf="control?.errors?.['required']&&control?.['touched']">{{label}} is
            Required
        </p>
        <p class="text-red-600 text-base " *ngIf="control?.errors?.['freeMonths']&&control?.['touched']">Free Months
            Must
            Be Lower Than or Equal Number Of Months
        </p>
        <p class="text-red-600 text-base " *ngIf="control?.errors?.['isNan']&&control?.['touched']">Enter A Valid Number
        </p>
    </div>
    <ng-template #checkbox>
        <div class="flex items-start mb-2">
            <div class="flex items-center h-5">
                <input #In [placeholder]="placeHolder" (change)="changeHandler(In)" [formControl]="control"
                    type="checkbox" [id]="id"
                    class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800">
            </div>
            <label [for]="id" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{label}}</label>
        </div>
    </ng-template>
</ng-container>