<div class="flex flex-col justify-center items-center w-1/2 mx-auto h-screen mt-10">
    <div class="lg:w-1/2 xs:w-full md:w-full border-primary border-2  rounded-3xl hover:border-primary-400">
        <h1 class="text-primary  text-center pt-3 font-bold">{{state=="Add"?"Add":"Update"}} Role</h1>
    </div>
    <form (ngSubmit)="FromSubmit()" [formGroup]="roleFrom" class="w-full pb-20">
        <label for="role-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Role Name</label>
        <input formControlName="roleName" placeholder="Role Name" id="role-name"
            class="bg-gray-50  border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <p class="text-red-600 text-base "
            *ngIf="roleFrom.get('roleName')?.errors?.['required']&&roleFrom.get('roleName')?.['touched']">
            Role Name is
            Required
        </p>
        <p class="text-red-600 text-base " *ngIf="roleFrom.errors?.['NoSelection']&&roleFrom?.['touched']">
            Check At Least one Permission
        </p>
        <app-entity-checks [fromGroup]="roleFrom" entity="Branch"></app-entity-checks>
        <app-entity-checks [fromGroup]="roleFrom" entity="Central"></app-entity-checks>
        <app-entity-checks [fromGroup]="roleFrom" entity="Client"></app-entity-checks>
        <app-entity-checks [fromGroup]="roleFrom" entity="Governorate"></app-entity-checks>
        <app-entity-checks [fromGroup]="roleFrom" entity="Offer"></app-entity-checks>
        <app-entity-checks [fromGroup]="roleFrom" entity="Package"></app-entity-checks>
        <app-entity-checks [fromGroup]="roleFrom" entity="Provider"></app-entity-checks>
        <app-entity-checks [fromGroup]="roleFrom" entity="Role"></app-entity-checks>
        <app-entity-checks [fromGroup]="roleFrom" entity="User"></app-entity-checks>
        <app-entity-checks [fromGroup]="roleFrom" entity="Bill"></app-entity-checks>

        <button [disabled]="roleFrom.status=='INVALID'"
            [ngClass]="{'bg-gray-400 opacity-50 hover:bg-gray-500':roleFrom.status=='INVALID'}" type="submit"
            class="add-btn">Submit</button>
        <a routerLink="/roles" class="cancel-btn" data-te-ripple-init data-te-ripple-color="light">Back
        </a>
    </form>
</div>