<div class="flex justify-center items-center mt-20">
    <div>
        <h1>Are You Lost?</h1>
        <section class="error-container">
            <span class="four"><span class="screen-reader-text">4</span></span>
            <span class="zero"><span class="screen-reader-text">0</span></span>
            <span class="one"><span class="screen-reader-text">1</span></span>
        </section>
        <div class="link-container">
            <a [routerLink]="'/'" class="more-link">
                Go Home</a>
        </div>
    </div>
</div>