<div *ngIf="isLoading;else Page" class="spinner "></div>
<ng-template #Page>
    <div class="m-10">
        <div class="mb-5">
            <p class="text-3xl text-center font-semibold col-start-4 col-span-3 text-gray-900">Packages</p>
        </div>
        <div
            class="p-3 bg-white rounded-lg shadow-[0_2px_15px_-3px_rgba(0,0,0,0.09),0_10px_20px_-2px_rgba(0,0,0,0.07)] ">
            <button *ngIf="CreatePermission" type="button" class="add-btn" (click)="goToAddComp()">
                <i class="fa fa-plus-circle text-white text-lg" aria-hidden="true"></i>
                New
            </button>

            <div class="flex flex-col ">
                <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                        <h1 *ngIf="packageList.length==0;else Table" class="text-center w-full mt-10">There Are No
                            Packages
                            !</h1>
                        <ng-template #Table>
                            <div class="overflow-hidden">
                                <table class="min-w-full text-center text-sm font-light">
                                    <!--class="border-b bg-gradient-to-r from-cyan-200 to-slate-500 font-medium dark:border-neutral-500 dark:text-neutral-800"-->
                                    <thead
                                        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                        <tr scope="col" class="px-6 py-3">
                                            <th scope="col" class=" px-6 py-4 text-xl">#</th>
                                            <th scope="col" class=" px-6 py-4 text-xl">package</th>
                                            <th scope="col" class=" px-6 py-4 text-xl">packageType</th>
                                            <th scope="col" class=" px-6 py-4 text-xl">Provider</th>
                                            <th scope="col" class=" px-6 py-4 text-xl">Notes</th>
                                            <th scope="col" class=" px-6 py-4 text-xl">Price</th>
                                            <th scope="col" class=" px-6 py-4 text-xl">purchasePrice</th>
                                            <th scope="col" class=" px-6 py-4 text-xl">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngIf="isError"
                                            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                            <th colspan="4" scope="row"
                                                class="px-6 py-4 font-medium text-xl text-gray-900 whitespace-nowrap dark:text-white">
                                                An Error Has Occured !
                                            </th>
                                        </tr>
                                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
                                            *ngFor="let package of packageList | paginate: { itemsPerPage: 10, currentPage: p };let i =index">
                                            <td scope="row"
                                                class="px-6 py-4 text-lg font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                                {{i+1}}
                                            </td>
                                            <td scope="row"
                                                class="px-6 py-4 text-lg font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                                {{package.name}}
                                            </td>
                                            <td class="px-6 py-4 text-lg">
                                                {{package.type}}
                                            </td>
                                            <td class="px-6 py-4 text-lg">
                                                {{package.provider.name}}
                                            </td>
                                            <td class="px-6 py-4 text-lg ">
                                                {{package.note}}
                                            </td>
                                            <td class="px-6 py-4 text-lg">
                                                {{package.price}}
                                            </td>
                                            <td class="px-6 py-4 text-lg">
                                                {{package.purchasePrice}}
                                            </td>
                                            <td>
                                                <button *ngIf="EditPermission" (click)="toEditPackage(package.id)"> <i
                                                        class='fa fa-edit edit-btn edit-btn'></i></button>
                                                <button *ngIf="DeletePermission" (click)="deletePackage(package.id)"><i
                                                        class="fa fa-trash-o remove-btn remove-btn"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <div class="mt-6 ">
                                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                    </div>
                                </table>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>