<div *ngIf="isLoading;else Page" class="spinner "></div>
<ng-template #Page>
    <div class="m-10">
        <div class=" mb-5">
            <p class="text-2xl text-center font-semibold col-start-4 col-span-3 text-gray-900">Employees</p>
        </div>
        <div
            class="p-3 bg-white rounded-lg shadow-[0_2px_15px_-3px_rgba(0,0,0,0.09),0_10px_20px_-2px_rgba(0,0,0,0.07)]">
            <button *ngIf="CreatePermission" type="button" class="add-btn" (click)="goToAddComp()">
                <i class="fa fa-plus-circle text-white text-lg" aria-hidden="true"></i>
                New
            </button>

            <div class="flex flex-col ">
                <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                        <h1 *ngIf="usersList.length==0;else Table" class="text-center w-full mt-10">There Are No
                            Employees
                            !</h1>
                        <ng-template #Table>
                            <div class="overflow-hidden">
                                <table class="min-w-full text-center text-sm font-light">
                                    <!--class="border-b bg-gradient-to-r from-cyan-200 to-slate-500 font-medium dark:border-neutral-500 dark:text-neutral-800"-->
                                    <thead
                                        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                        <tr scope="col" class="px-6 py-3">
                                            <th scope="col" class=" px-6 py-4 text-sm">#</th>
                                            <th scope="col" class=" px-6 py-4 text-sm">Name</th>
                                            <th scope="col" class=" px-6 py-4 text-sm">Email</th>
                                            <th scope="col" class=" px-6 py-4 text-sm">PhoneNumber</th>
                                            <th scope="col" class=" px-6 py-4 text-sm">Branch</th>
                                            <th scope="col" class=" px-6 py-4 text-sm">Roles</th>
                                            <th scope="col" class=" px-6 py-4 text-sm">Stauts</th>
                                            <th scope="col" class=" px-6 py-4 text-sm">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngIf="isError"
                                            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                            <th colspan="4" scope="row"
                                                class="px-6 py-4 font-medium text-xl text-gray-900 whitespace-nowrap dark:text-white">
                                                An Error Has Occured !
                                            </th>
                                        </tr>
                                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
                                            *ngFor="let user of usersList | paginate: { itemsPerPage: 10, currentPage: p };let i =index">
                                            <td scope="row"
                                                class="px-6 py-4 text-lg font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                                {{i+1}}
                                            </td>
                                            <td scope="row"
                                                class="px-6 py-4 text-lg font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                                {{user.userName}}
                                            </td>
                                            <td 
                                                class="px-6 py-4 text-lg">
                                                {{user.email}}
                                            </td>
                                            <td class="px-6 py-4 text-lg">
                                                {{user.phoneNumber}}
                                            </td>
                                            <td class="px-6 py-4 text-lg">
                                                {{user.branch.name}}
                                            </td>
                                            <td class="px-6 py-4 text-lg ">
                                                {{user.role.name}}
                                            </td>
                                            <td class="px-6 py-4 text-lg">
                                                <ng-container *ngIf="user.status==true;else falseStatus">
                                                    <label class="relative inline-flex items-center cursor-pointer">
                                                        <input type="checkbox" [value]="user.status"
                                                            class="sr-only peer" checked disabled>
                                                        <div
                                                            class="w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
                                                        </div>
                                                    </label>
                                                </ng-container>
                                                <ng-template #falseStatus>
                                                    <label
                                                        class="relative inline-flex items-center mb-5 cursor-pointer">
                                                        <input type="checkbox" value="" class="sr-only peer" disabled>
                                                        <div
                                                            class="w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
                                                        </div>
                                                    </label>
                                                </ng-template>
                                            </td>

                                            <td>
                                                <button *ngIf="EditPermission" (click)="toEditUser(user.id)"> <i
                                                        class='fa fa-edit edit-btn edit-btn'></i></button>
                                                <button *ngIf="DeletePermission" (click)="deleteUser(user.id)"><i
                                                        class="fa fa-trash-o remove-btn remove-btn"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <div class="mt-6 " *ngIf="usersList.length>10">
                                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                    </div>
                                </table>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
