<div *ngIf="isLoading;else Page" class="spinner"></div>
<ng-template #Page>
    <div class="m-10">
        <div class="flex flex-col items-start justify-center mt-10 gap-5  w-full mx-auto">
            <p class="text-3xl text-center w-full font-semibold col-start-4 col-span-3 text-gray-900">Clients</p>
            <a *ngIf="CreatePermission" type="button" class="add-btn" routerLink="/Clients/Add">
                <i class="fa fa-plus-circle text-white text-lg" aria-hidden="true"></i>
                New
            </a>
            <h1 *ngIf="clients.length==0;else Table" class="text-center w-full mt-10">There Are No Clients !</h1>
            <ng-template #Table>
                <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-full mx-auto">
                    <table class="w-full text-sm text-center text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    SSID
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Name
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Tel
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Email
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Provider
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Package
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Branch
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Phone
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="isError"
                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <th colspan="4" scope="row"
                                    class="px-6 py-4 font-medium text-xl text-gray-900 whitespace-nowrap dark:text-white">
                                    An Error Has Occured !
                                </th>
                            </tr>
                            <tr *ngFor="let client of clients| paginate: { itemsPerPage: 10, currentPage: p}"
                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <td scope="row" class="p-3">
                                    {{client.ssid}}
                                </td>
                                <td scope="row" class="p-3">
                                    {{client.name}}
                                </td>
                                <td scope="row" class="p-3">
                                    {{client.tel}}
                                </td>
                                <td scope="row" class="p-3">
                                    {{client.email}}
                                </td>
                                <td scope="row" class="p-3">
                                    {{client.provider?.name}}
                                </td>
                                <td scope="row" class="p-3">
                                    {{client.package?.name}}
                                </td>
                                <td scope="row" class="p-3">
                                    {{client.branch?.name}}
                                </td>
                                <td scope="row" class="p-3">
                                    {{client.phone}}
                                </td>
                                <td class="px-6 py-4 text-right flex justify-center items-center">
                                    <a [routerLink]="'Edit/'+client.ssid" *ngIf="EditPermission"> <i
                                            class='fa fa-edit edit-btn edit-btn'></i></a>
                                    <button *ngIf="DeletePermission"><i
                                            class="fa fa-trash-o remove-btn remove-btn" (click)="deleteClient(client.ssid)"></i></button>
                                    <a [routerLink]="'/Client/Bills/'+client.ssid" *ngIf="EditPermission">
                                        <img class="w-[28px]" src="/assets/Icons/info.png" alt="">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <div class="mt-6 " *ngIf="clients.length>10">
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </div>
                    </table>
                </div>
            </ng-template>
        </div>
    </div>
</ng-template>