<div class="flex flex-col justify-center items-center w-1/2 mx-auto h-screen">
    <div class="lg:w-1/2 xs:w-full md:w-full border-primary border-2  rounded-3xl hover:border-primary-400">
        <h1 class="text-primary  text-center pt-3 font-bold">{{formTitle}}</h1>
    </div>
    <form (ngSubmit)="FromSubmit()" [formGroup]="centralFrom" class="w-full">
        <app-input [id]="'name'" label="Central Name" [control]="CentralName"></app-input>
        <div class="my-3">
            <label for="Governorate"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Governorate*</label>
            <select [formControl]="Governorate" id="Governorate" data-te-select-init data-te-select-filter="true">
                <ng-container *ngFor="let Governorate of governorates;let first=first">
                    <option [selected]="first" [value]="Governorate.code">{{Governorate.name}}</option>
                </ng-container>
            </select>
            <p class="text-red-600 text-base " *ngIf="Governorate?.errors?.['required']&&Governorate?.['touched']">
                Governorate is
                Required
            </p>
        </div>
        <button [disabled]="centralFrom.status=='INVALID'"
            [ngClass]="{'bg-gray-400 opacity-50 hover:bg-gray-500':centralFrom.status=='INVALID'}" type="submit"
            class="add-btn">Submit</button>
        <a routerLink="/Centrals" class="cancel-btn" data-te-ripple-init data-te-ripple-color="light">Back
        </a>
    </form>
</div>