<aside id="default-sidebar" class=" w-full h-screen" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
        <ul class="space-y-2 font-medium">
            <li>
                <a class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
                    routerLink="" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="bg-blue-100">
                    <img src="assets/Icons/home.png" class="w-[20px]" alt="">
                    <span class="ml-3">Home</span>
                </a>
            </li>
            <li *ngIf="ReadBranch">
                <a routerLink="/branch" routerLinkActive="bg-blue-100"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                    <img src="assets/Icons/branch.png" class="w-[20px]" alt="">
                    <span class="flex-1 ml-3 whitespace-nowrap">Branchs</span>
                </a>
            </li>
            <li *ngIf="ReadBill">
                <a routerLink="/UnpaidBill" routerLinkActive="bg-blue-100"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                    <img src="assets/Icons/bill.png" class="w-[20px]" alt="">
                    <span class="flex-1 ml-3 whitespace-nowrap">Bills</span>
                </a>
            </li>
            <li *ngIf="ReadCentral">
                <a routerLink="/Centrals" routerLinkActive="bg-blue-100"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                    <img src="assets/Icons/central.png" class="w-[20px]" alt="">
                    <span class="flex-1 ml-3 whitespace-nowrap">Centrals</span>
                </a>
            </li>
            <li *ngIf="ReadClient">
                <a routerLink="/Clients" routerLinkActive="bg-blue-100"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                    <img src="assets/Icons/user.png" class="w-[20px]" alt="">
                    <span class="flex-1 ml-3 whitespace-nowrap">Clients</span>
                </a>
            </li>
            <li *ngIf="ReadGovernorate">
                <a routerLink="/Governorates" routerLinkActive="bg-blue-100"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                    <img src="assets/Icons/Governorates.png" class="w-[20px]" alt="">
                    <span class="flex-1 ml-3 whitespace-nowrap">Governorates</span>
                </a>
            </li>
            <li *ngIf="ReadPackage">
                <a routerLink="/Packages" routerLinkActive="bg-blue-100"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                    <img src="assets/Icons/Packages.png" class="w-[20px]" alt="">
                    <span class="flex-1 ml-3 whitespace-nowrap">Packages</span>
                </a>
            </li>
            <li *ngIf="ReadProvider">
                <a routerLink="/Providers" routerLinkActive="bg-blue-100"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                    <img src="assets/Icons/Providers.png" class="w-[20px]" alt="">
                    <span class="flex-1 ml-3 whitespace-nowrap">Providers</span>
                </a>
            </li>
            <li *ngIf="ReadOffer">
                <a routerLink="/offers" routerLinkActive="bg-blue-100"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                    <img src="assets/Icons/offers.png" class="w-[20px]" alt="">
                    <span class="flex-1 ml-3 whitespace-nowrap">Offers</span>
                </a>
            </li>
            <li *ngIf="ReadRole">
                <a routerLink="/roles" routerLinkActive="bg-blue-100"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                    <img src="assets/Icons/roles.png" class="w-[20px]" alt="">
                    <span class="flex-1 ml-3 whitespace-nowrap">Roles</span>
                </a>
            </li>
            <li *ngIf="ReadEmployee">
                <a routerLink="/Users" routerLinkActive="bg-blue-100"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                    <img src="assets/Icons/group.png" class="w-[20px]" alt="">
                    <span class="flex-1 ml-3 whitespace-nowrap">Employees</span>
                </a>
            </li>
            <li (click)="SignOut()">
                <a
                    class="flex cursor-pointer items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                    <svg aria-hidden="true"
                        class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span class="flex-1 ml-3 whitespace-nowrap">Sign Out</span>
                </a>
            </li>
        </ul>
    </div>
</aside>