/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap"); */
* {
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Cairo"; */
}

@layer components {
  .add-btn {
    @apply text-lg bg-info-700 text-white rounded-xl py-2 px-4 hover:bg-secondary-600;
  }
  .edit-btn {
    @apply text-[#F59E0B] text-2xl me-3;
  }
  .remove-btn {
    @apply text-red-500 text-2xl me-3;
  }

  .submit-btn {
    @apply inline-block rounded-2xl mt-5  bg-primary px-6 pb-2 pt-2.5 text-lg font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)];
  }
  .cancel-btn {
    @apply ms-5 delay-300  mt-5 inline-block rounded-2xl bg-slate-500  px-6 pb-2 pt-2.5 text-lg font-medium uppercase leading-normal text-white  transition duration-150 ease-in-out hover:bg-slate-400  focus:bg-slate-500  focus:outline-none focus:ring-0 active:bg-slate-500 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)];
  }
}

html,
body {
  height: 100%;
  /* background-color: rgb(201, 201, 201); */
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spinner {
  width: 56px;
  height: 56px;
  border: 11.2px #58588e double;
  border-left-style: solid;
  border-radius: 50%;
  animation: spinner-aib1d7 0.75s infinite linear;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -28px;
  margin-left: -28px;
}

@keyframes spinner-aib1d7 {
  to {
    transform: rotate(360deg);
  }
}
/* .blue-snackbar {
  background: rgb(124, 124, 124);
  color:white;
  margin: auto!important;
  position: absolute;
  right: 25px;
  top: 60px;
  width: 50%;
  
} */
.confirm-dialog-container .content-container {
  margin: 5px 5px 15px 5px;
  color: #8f9cb5;
  display: flex;
}
.confirm-dialog-container .mat-dialog-container {
  border-radius: 0.25em 0.25em 0.4em 0.4em;
}
.confirm-dialog-container #close-icon {
  margin-left: auto;
  order: 2;
  font-weight: bolder;
}
.confirm-dialog-container #close-icon:hover {
  cursor: pointer;
}
.confirm-dialog-container #yes-button {
  height: 50px;
  width: 50%;
  color: white;
  background-color: #fc7169;
  border-radius: 0px;
}
.confirm-dialog-container #no-button {
  height: 50px;
  width: 50%;
  color: white;
  background-color: #b6bece;
  border-radius: 0px;
}
.confirm-dialog-container span.content-span {
  padding: 35px 16px;
  text-align: center;
  font-size: 18px;
}
