<div class="grid grid-cols-12 mb-5">
    <h1 class="text-3xl font-semibold col-start-4 col-span-3 text-gray-900">Governorates</h1>
</div>
<div class="p-3 bg-white rounded-lg shadow-[0_2px_15px_-3px_rgba(0,0,0,0.09),0_10px_20px_-2px_rgba(0,0,0,0.07)] w-1/2 m-auto">
    <button type="button" class="bg-info-700 text-lg text-white rounded-3xl p-2 hover:bg-secondary-600" (click)="goToAddComp()">
        <i class="fa fa-plus-circle text-white text-lg" aria-hidden="true"></i>
        New Governorate
    </button>
    
    <div class="flex flex-col ">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                    <table class="min-w-full text-center text-sm font-light">
                        <thead class="border-b bg-gradient-to-r from-cyan-200 to-slate-500 font-medium dark:border-neutral-500 dark:text-neutral-800">
                            <tr>
                                <th scope="col" class=" px-6 py-4 text-xl">Name</th>
                                <th scope="col" class=" px-6 py-4 text-xl">Code</th>
                                <th scope="col" class=" px-6 py-4 text-xl">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class=" border-b transition duration-300 ease-in-out hover:bg-slate-50 dark:border-neutral-500 dark:hover:bg-neutral-600" *ngFor="let item of governateList">
                                <td class="whitespace-nowrap  px-6 py-4 font-medium text-lg">{{item.Name}}</td>
                                <td class="whitespace-nowrap  px-6 py-4 text-lg">{{item.Code}}</td>
                                <td>
                                    <button (click)="toEditGov(item.Code)"> <i class='fa fa-edit text-slate-600 text-3xl me-3'></i></button>
                                    <button (click)="deleteGovernate(item.Code)"><i class="fa fa-trash-o text-slate-600 text-3xl"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
  