<div class="p-10  flex flex-col items-start w-full">
    <p class="text-center text-xl">Client Bills
    </p>
    <div *ngIf="isLoading;else Page" class="spinner "></div>
    <ng-template #Page>
        <div class="w-full px-5 m-auto flex flex-col items-start justify-center mt-10 gap-5">
            <h1 class="text-2xl text-left">Bills</h1>
            <button class="px-5 py-2 rounded-md bg-indigo-500 text-white" (click)="GetNextBill()">Get Next
                Bill</button>
            <h1 *ngIf="bills.length==0;else Table" class="text-center w-full mt-10">There Are No Bills !</h1>
            <ng-template #Table>
                <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-full mx-auto">
                    <table class="w-full text-sm text-center text-gray-500 dark:text-gray-400">
                        <thead class="text-sm text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Paid ?
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Amount
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    From Date
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    To Date
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Client Name
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Client SSID
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Client Tel
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Client Phone
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="isError"
                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <th colspan="4" scope="row"
                                    class="px-6 py-4 font-medium text-xl text-gray-900 whitespace-nowrap dark:text-white">
                                    An Error Has Occured !
                                </th>
                            </tr>
                            <tr *ngFor="let bill of bills"
                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <th scope="col" class="px-6 py-3 relative">
                                    <img class="w-[28px] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 "
                                        *ngIf="bill.isPaid" src="/assets/Icons/accept.png" />
                                    <img class="w-[28px] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
                                        *ngIf="!bill.isPaid" src="/assets/Icons/remove.png" />
                                </th>
                                <th scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{bill.amount}}
                                </th>
                                <th scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{bill.fromDate | date:'YYYY-MM-dd'}}
                                </th>
                                <th scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{bill.toDate | date:'YYYY-MM-dd'}}
                                </th>
                                <th scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{bill.client.name}}
                                </th>
                                <th scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{bill.client.ssid}}
                                </th>
                                <th scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{bill.client.tel}}
                                </th>
                                <th scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{bill.client.phone}}
                                </th>
                                <td class="px-6 py-4 text-right flex justify-center items-center">
                                    <button *ngIf="EditPermission && !bill.OntheFly" (click)="PayBill(bill.id)">
                                        <img src="/assets/Icons/payBill.png" alt="">
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </div>

    </ng-template>
</div>