<div *ngIf="isLoading;else Page" class="spinner "></div>
<ng-template #Page>
    <div class="m-10">
        <div class="mb-5">
            <p class="text-2xl text-center font-semibold col-start-4 col-span-3 text-gray-900">Offers</p>
            <a  *ngIf="CreatePermission" type="button" class="add-btn mb-3" routerLink="/Offers/Add">
                <i class="fa fa-plus-circle text-white text-lg " aria-hidden="true"></i>
                New
            </a>
            <h1 *ngIf="offers.length==0;else Table" class="text-center w-full mt-10">There Are No Offers !</h1>
            <ng-template #Table>
                <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-full mx-auto">
                    <table class="w-full text-sm text-center text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Name
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Provider Name
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Discount
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Cancel Fee
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    #Months
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    #Free Months
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Free Months First ?
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Free Router ?
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Router Fee
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="isError"
                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <th colspan="4" scope="row"
                                    class="px-6 py-4 font-medium text-xl text-gray-900 whitespace-nowrap dark:text-white">
                                    An Error Has Occured !
                                </th>
                            </tr>
                            <tr *ngFor="let offer of offers| paginate: { itemsPerPage: 10, currentPage: p }"
                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <th scope="col" class="px-6 py-3">
                                    {{offer.name}}
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    {{offer.provider.name}}
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    {{offer.discount}} {{offer.isPercent?"%":"LE"}}
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    {{offer.cancelFee}}
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    {{offer.numberOfMonths}}
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    {{offer.numberOfFreeMonths}}
                                </th>
                                <th scope="col" class="px-6 py-3 relative">
                                    <img class="w-[28px] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 "
                                        *ngIf="offer.freeMonthsFirst" src="/assets/Icons/accept.png" />
                                    <img class="w-[28px] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
                                        *ngIf="!offer.freeMonthsFirst" src="/assets/Icons/remove.png" />
                                </th>
                                <th scope="col" class="px-6 py-3 relative">
                                    <img class="w-[28px] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 "
                                        *ngIf="offer.freeRouter" src="/assets/Icons/accept.png" />
                                    <img class="w-[28px] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
                                        *ngIf="!offer.freeRouter" src="/assets/Icons/remove.png" />
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    {{offer.routerPrice?offer.routerPrice:"Free"}}
                                </th>
                                <td class="px-6 py-4 text-right flex justify-center items-center">
                                    <a *ngIf="EditPermission" [routerLink]="'/Offers/Edit/'+offer.id"> <i
                                            class='fa fa-edit edit-btn edit-btn '></i></a>
                                    <button *ngIf="DeletePermission" (click)="DeleteOffer(offer.id)"><i
                                            class="fa fa-trash-o remove-btn remove-btn"></i></button>
                                </td>
                            </tr>
                        </tbody>
                        <div class="mt-6 " *ngIf="offers.length>10">
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </div>
                    </table>
                </div>
            </ng-template>
        </div>

    </div>
</ng-template>